1. In the first layer, the number of boxes (nodes/neurons), depend upon the number of feature columns that we have.
2. In the last layer, the number of boxes (nodes/neurons), depend upon the number of target columns that we have.

First Layer: Input Layer
Middle Layers: Hidden Layers
Last Layer: Output Layer

1. We can only have one input layer, the number of boxes (nodes/neurons), depend upon the number of feature columns that we have.
2. We can have any number of hidden layers, and we can have any number of boxes in those hidden layers.
3. We can only have one output layer, the number of boxes (nodes/neurons), depend upon the number of target columns that we have

#### Requires two algorithms
1. Forward Propagation Algorithm
2.

# Coding the forward propagation algorithm

Each data point is a customer. The first input is how many accounts they have, and the second input is how many children they have. The model will predict how many transactions the user makes in the next year.

In [2]:
import numpy as np

In [2]:
input_data = np.array([3,5])

In [3]:
weights = {"node_1":np.array([2,4]), "node_2":np.array([4,-5]), "output":np.array([2,7])}

In [4]:
(input_data*weights["node_1"]).sum()

26

In [5]:
node_1_hidden_1 = (input_data*weights["node_1"]).sum()

In [6]:
(input_data*weights["node_2"]).sum()

-13

In [7]:
node_2_hidden_1 = (input_data*weights["node_2"]).sum()

In [8]:
input_hidden_1 = np.array([node_1_hidden_1,node_2_hidden_1])

In [9]:
(input_hidden_1*weights["output"]).sum()

-39

In [10]:
output = (input_hidden_1*weights["output"]).sum()

In [11]:
output

-39

# The Rectified Linear Activation Function

You will need an activation function on a data only when you have a non-linear relationship between feature and target.

1. It converts negative values to zero.
2. It keeps positive values as it is.

In [5]:
def relu(x):
    return max(0, x)

In [13]:
relu(-6)

0

In [14]:
relu(6)

6

In [15]:
import numpy as np

In [16]:
input_data = np.array([3,5])
weights = {"node_1":np.array([2,4]), "node_2":np.array([4,-5]), "output":np.array([2,7])}

In [17]:
node_1_hidden_1 = (input_data*weights["node_1"]).sum()
node_1_hidden_1 = relu(node_1_hidden_1)
node_2_hidden_1 = (input_data*weights["node_2"]).sum()
node_2_hidden_1 = relu(node_2_hidden_1)
input_hidden_1 = np.array([node_1_hidden_1,node_2_hidden_1])
output = (input_hidden_1*weights["output"]).sum()
output = relu(output)

In [18]:
output

52

# Applying the network to many observations/rows of data

In [19]:
input_data = [np.array([3,5]), np.array([1,-1]), np.array([0,0]), np.array([8,4])]

In [21]:
weights = {"node_1":np.array([2,4]), "node_2":np.array([4,-5]), "output":np.array([2,7])}

In [22]:
outputs = []

In [23]:
for row in input_data:
    node_1_hidden_1 = (row*weights["node_1"]).sum()
    node_1_hidden_1 = relu(node_1_hidden_1)
    node_2_hidden_1 = (row*weights["node_2"]).sum()
    node_2_hidden_1 = relu(node_2_hidden_1)
    input_hidden_1 = np.array([node_1_hidden_1,node_2_hidden_1])
    output = (input_hidden_1*weights["output"]).sum()
    output = relu(output)
    outputs.append(output)

In [24]:
outputs

[52, 63, 0, 148]

# Multi-layer neural networks

In [3]:
weights = {"node_1_1": np.array([2, 4]),
          "node_1_2": np.array([4, -5]),
          "node_2_1": np.array([-1, 2]),
          "node_2_2": np.array([1, 2]),
          "output": np.array([2, 7])}

In [17]:
input_data = np.array([3, 5])

In [18]:
def predict_network(input_data, weights):
    node_1_hidden_1 = (input_data*weights["node_1_1"]).sum()
    node_1_hidden_1 = relu(node_1_hidden_1)
    
    node_2_hidden_1 = (input_data*weights["node_1_2"]).sum()
    node_2_hidden_1 = relu(node_2_hidden_1)
    
    input_hidden_1 = np.array([node_1_hidden_1, node_2_hidden_1])
    
    node_1_hidden_2 = (input_hidden_1*weights["node_2_1"]).sum()
    node_1_hidden_2 = relu(node_1_hidden_2)
    
    node_2_hidden_2 = (input_hidden_1*weights["node_2_2"]).sum()
    node_2_hidden_2 = relu(node_2_hidden_2)
    
    input_hidden_2 = np.array([node_1_hidden_2, node_2_hidden_2])
    
    output = (input_hidden_2*weights["output"]).sum()
    output = relu(output)
    
    return output

In [19]:
predict_network(input_data, weights)

182

### Formulae

Forward Propagation - Predicted value = input_data*weights.sum()

Error = |Predicted Value - Actual Value|

Backward Propagation - New weight = Original weight - Learning_rate*slope - Adam Optimizer

Slope = 2 * Input_weight * Error

# Build a Neural Network

1. Specify the architecture of the neural network (type of the model, type of each layer, how many layers, how many nodes in each layer)
2. Compile the model(loss_function, optimize_weights)
3. Train the model
4. Use the trained model for prediction.

Types of models - Sequential(to be used here),

Sequential Model:
    All the layers in this model are connected only to the layer coming directly after it.

Dense layer:
    All the neurons in that dense layer are connected to all the other neurons in the previous layers.

### Getting the data

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("~/Downloads/hourly_changes.csv")

In [25]:
df

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

In [26]:
target = df["wage_per_hour"]

In [28]:
features = df.drop("wage_per_hour", axis="columns")

In [29]:
features

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
529,0,18,5,29,0,0,0,0,0
530,0,12,33,51,1,1,0,0,0
531,1,17,25,48,1,1,0,0,0
532,1,12,13,31,0,1,1,0,0
533,0,16,33,55,0,1,0,1,0

## Step 1:

In [43]:
from keras.layers import Dense
from keras.models import Sequential
from keras.losses import MeanSquaredError

In [44]:
model = Sequential()
model.add(Dense(50, activation="relu", input_shape=(9,)))
model.add(Dense(32, activation="relu"))
model.add(Dense(1))

## Step 2: Compile the model

In [45]:
model.compile(optimizer="adam", loss=MeanSquaredError())

## Step 3: Train the model

In [46]:
# fit() function is used for scannig the data and training the model
# epochs = number of iterations of Forward and Backward Propagations
model.fit(features, target, epochs=5)

Epoch 1/5
17/17 [==============================] - 1s 1ms/step - loss: 46.2515
Epoch 2/5
17/17 [==============================] - 0s 2ms/step - loss: 31.1127
Epoch 3/5
17/17 [==============================] - 0s 2ms/step - loss: 19.6575
Epoch 4/5
17/17 [==============================] - 0s 2ms/step - loss: 19.4802
Epoch 5/5
17/17 [==============================] - 0s 2ms/step - loss: 20.9302

## Step 4:

In [48]:
features

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
529,0,18,5,29,0,0,0,0,0
530,0,12,33,51,1,1,0,0,0
531,1,17,25,48,1,1,0,0,0
532,1,12,13,31,0,1,1,0,0
533,0,16,33,55,0,1,0,1,0

In [50]:
data = pd.DataFrame({"union":[0],"education_yrs":[4],"experience_yrs":[0],"age":[20],"female":[0],"marr":[0],"south":[0],"manufacturing":[0],"construction":[0]})

In [51]:
data

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,4,0,20,0,0,0,0,0

In [52]:
model.predict(data)

array([[5.618638]], dtype=float32)